* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Markazi Text", serif sans-serif;
  letter-spacing: 0.05rem;
}

body {
  background-color: rgb(245, 243, 243);
}

a {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

main {
  padding: 1rem;
}

.navbar-brand {
  text-decoration: none;
}

section {
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}

.about {
  margin-top: 2rem;
}

.name {
  text-align: center;
}

.name__last {
  display: block;
}

.name__small {
  font-size: 1.2rem;
}

/* PROJECTS */

figcaption {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

figcaption a {
  font-size: 2rem;
}

/* SKILLS */

.skills__list {
  width: 100%;
}

.skills__list-item {
  display: inline-block;
  width: 19%;
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 1%;
}
.skills__list-item img {
  width: 100%;
  transition: all 0.4s;
}

.skills__list-item img:hover {
  transform: translateY(-1rem);
}

/* FOOTER */

footer {
  font-size: 0.8rem;
}
